input{
margin-left: 10px;
margin-bottom: 5px;
padding: 8px;
}
button{
    background-color: rgb(0, 0, 255);
    color: white;
    height: 30px;
    width: 80px;
    font-weight: bolder;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    background-color: brown;
    color: red;

}
button:active{
    background-color: blanchedalmond;
    color: black;
    
}