bg-neutralOffWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 98% / var(--tw-bg-opacity));
}
body {
    color: #1c2022;
    font-family: var(--font-heebo);
    font-size: clamp(1rem, .9612rem + .1942vi, 1.125rem);
    line-height: 1.5;
    min-height: 100vh;
    overscroll-behavior-y: none;
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin-block-end: 0;
}
body {
    margin: 0;
    line-height: inherit;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}
.__variable_72b39c {
    --font-heebo: "__Heebo_72b39c", "__Heebo_Fallback_72b39c";
}
.__variable_f46a1f {
    --font-barlow: "__Barlow_f46a1f", "__Barlow_Fallback_f46a1f";
}
.font-primary {
    font-family: var(--font-heebo);
}
element.style {
    position: fixed;
    z-index: 9999;
    inset: 16px;
    pointer-events: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.sr-only, .fa-sr-only, .sr-only-focusable:not(:focus), .fa-sr-only-focusable:not(:focus) {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.flex {
    display: flex
;
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.z-40 {
    z-index: 40;
}
.relative {
    position: relative;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}.container-full {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
}
.py-4 {
    padding-top: clamp(1rem, .9223rem + .3883vi, 1.25rem);
    padding-bottom: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.gap-6 {
    gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.pb-4, .py-4 {
    padding-bottom: 1.25rem;
}
.py-4 {
    padding-top: 1.25rem;
}
.gap-6 {
    gap: 2.5rem;
}
.text-\[0rem\] {
    font-size: 0;
}
a:not([class]) {
    color: currentColor;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}element.style {
    color: transparent;
}
@media (min-width: 64rem) {
    .desktop\:hidden {
        display: none;
    }
}
img, picture {
    display: block;
    max-width: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
element.style {
    color: transparent;
}
@media (min-width: 64rem) {
    .desktop\:block {
        display: block;
    }
}
.hidden {
    display: none;
}
img, picture {
    display: block;
    max-width: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}@media (min-width: 48rem) {
    .tablet\:block {
        display: block;
    }
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.p-0 {
    padding: 0;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.relative {
    position: relative;
}
.gap-2 {
    gap: .625rem;
}
.text-sm {
    font-size: .95rem;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-neutralWhite {
    --tw-text-opacity: 1;
    color: hsl(0 0% 100% / var(--tw-text-opacity));
}
.tracking-wider {
    letter-spacing: .05em;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.text-center {
    text-align: center;
}
.py-2 {
    padding-top: clamp(.5rem, .4612rem + .1942vi, .625rem);
    padding-bottom: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralBlack {
    --tw-bg-opacity: 1;
    background-color: hsl(200 10% 12% / var(--tw-bg-opacity));
}
.border-neutralBlack {
    --tw-border-opacity: 1;
    border-color: hsl(200 10% 12% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.flex {
    display: flex
;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.pb-2, .py-2 {
    padding-bottom: .625rem;
}
.py-2 {
    padding-top: .625rem;
}
.gap-2 {
    gap: .625rem;
}
.text-sm {
    font-size: .95rem;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
@media (min-width: 48rem) {
    .tablet\:hidden {
        display: none;
    }
}
@media (min-width: 48rem) {
    .tablet\:relative {
        position: relative;
    }
}
a, button {
    cursor: pointer;
}
button, input, select, textarea {
    font: inherit;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.w-\[34px\] {
    width: 34px;
}
.h-\[26px\] {
    height: 26px;
}
.relative {
    position: relative;
}
.\*\:transition>* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.\*\:bg-neutralBlack>* {
    --tw-bg-opacity: 1;
    background-color: hsl(200 10% 12% / var(--tw-bg-opacity));
}
.\*\:rounded>* {
    border-radius: .25rem;
}
.\*\:origin-center>* {
    transform-origin: center;
}
.\*\:w-full>* {
    width: 100%;
}
.\*\:h-\[4px\]>* {
    height: 4px;
}
.\*\:left-0>* {
    left: 0;
}
.\*\:absolute>* {
    position: absolute;
}
.top-0 {
    top: 0;
}
.top-\[calc\(50\%-2px\)\] {
    top: calc(50% - 2px);
}
.bottom-0 {
    bottom: 0;
}
.flex-grow, .grow {
    flex-grow: 1;
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralOffWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 98% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border-t {
    border-top-width: 1px;
}
.border-b {
    border-bottom-width: 1px;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.container-full {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
}
.flex {
    display: flex
;
}
.tracking-wider {
    letter-spacing: .05em;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.font-secondary {
    font-family: var(--font-barlow);
}
.py-3 {
    padding-top: clamp(.75rem, .6917rem + .2913vi, .9375rem);
    padding-bottom: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border-r {
    border-right-width: 1px;
}
.border-l {
    border-left-width: 1px;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.pb-3, .py-3 {
    padding-bottom: .9375rem;
}
.py-3 {
    padding-top: .9375rem;
}
.py-6 {
    padding-top: 2.5rem;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.gap-8 {
    gap: 5rem;
}
.container-xl {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}
.gap-8 {
    gap: clamp(4rem, 3.6893rem + 1.5534vi, 5rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-8 {
    gap: 5rem;
}
@media (min-width: 48rem) {
    .tablet\:gap-6 {
        gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
    }
}
@media (min-width: 48rem) {
    .tablet\:items-center {
        align-items: center;
    }
}
@media (min-width: 48rem) {
    .tablet\:flex-row {
        flex-direction: row;
    }
}
@media (min-width: 48rem) {
    .tablet\:gap-6 {
        gap: 2.5rem;
    }
}
.p-5 {
    padding: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-2xl {
    border-radius: 1rem;
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.flex-col-reverse {
    flex-direction: column-reverse;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.isolate {
    isolation: isolate;
}
.relative {
    position: relative;
}
.p-5 {
    padding: 1.875rem;
}
.gap-5 {
    gap: 1.875rem;
}
@media (min-width: 48rem) {
    .tablet\:w-1\/2 {
        width: 50%;
    }
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.items-start {
    align-items: flex-start;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-5 {
    gap: 1.875rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex
;
}
.gap-2 {
    gap: .625rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}.text-primaryCyan {
    --tw-text-opacity: 1;
    color: hsl(189 50% 61% / var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.font-secondary {
    font-family: var(--font-barlow);
}
.text-primaryBlue {
    --tw-text-opacity: 1;
    color: hsl(227 45% 44% / var(--tw-text-opacity));
}
.text-primaryMagenta {
    --tw-text-opacity: 1;
    color: hsl(335 53% 60% / var(--tw-text-opacity));
}
.border-primaryCyan {
    --tw-border-opacity: 1;
    border-color: hsl(189 50% 61% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded {
    border-radius: .25rem;
}
.w-min {
    width: -moz-min-content;
    width: min-content;
}
.inline-flex {
    display: inline-flex
;
}
.text-neutralWhite {
    --tw-text-opacity: 1;
    color: hsl(0 0% 100% / var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.px-2 {
    padding-left: clamp(.5rem, .4612rem + .1942vi, .625rem);
    padding-right: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.bg-primaryCyan {
    --tw-bg-opacity: 1;
    background-color: hsl(189 50% 61% / var(--tw-bg-opacity));
}
.px-2 {
    padding-left: .625rem;
    padding-right: .625rem;
}
.text-sm {
    font-size: .95rem;
}
.text-primaryCyan {
    --tw-text-opacity: 1;
    color: hsl(189 50% 61% / var(--tw-text-opacity));
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.px-2 {
    padding-left: clamp(.5rem, .4612rem + .1942vi, .625rem);
    padding-right: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.px-2 {
    padding-left: .625rem;
    padding-right: .625rem;
}
.text-sm {
    font-size: .95rem;
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-5 {
    gap: 1.875rem;
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: clamp(1.728rem, 1.6609rem + .3355vi, 1.944rem);
    }
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: 1.944rem;
    }
}
.text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.text-xl {
    font-size: 1.62rem;
}
h1, h2, h3, h4, input, label {
    line-height: 1.1;
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin-block-end: 0;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.text-neutralDarkGrey {
    --tw-text-opacity: 1;
    color: hsl(0 0% 45% / var(--tw-text-opacity));
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin-block-end: 0;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-neutralWhite {
    --tw-text-opacity: 1;
    color: hsl(0 0% 100% / var(--tw-text-opacity));
}
.tracking-wider {
    letter-spacing: .05em;
}
.leading-none {
    line-height: 1;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-base {
    font-size: clamp(1rem, .9612rem + .1942vi, 1.125rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.text-center {
    text-align: center;
}
.py-3 {
    padding-top: clamp(.75rem, .6917rem + .2913vi, .9375rem);
    padding-bottom: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.px-7 {
    padding-left: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
    padding-right: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
}
.bg-primaryRed {
    --tw-bg-opacity: 1;
    background-color: hsl(351 84% 55% / var(--tw-bg-opacity));
}
.border-primaryRed {
    --tw-border-opacity: 1;
    border-color: hsl(351 84% 55% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.flex {
    display: flex
;
}
.px-7 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}
.pb-3, .py-3 {
    padding-bottom: .9375rem;
}
.py-3 {
    padding-top: .9375rem;
}
.text-base {
    font-size: 1.125rem;
}
a, button {
    cursor: pointer;
}
button, input, select, textarea {
    font: inherit;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
@media (min-width: 48rem) {
    .tablet\:w-1\/2 {
        width: 50%;
    }
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.rounded-lg {
    border-radius: .5rem;
}
.overflow-hidden {
    overflow: hidden;
}
.aspect-\[4\/3\] {
    aspect-ratio: 4 / 3;
}
.relative {
    position: relative;
}
a, button {
    cursor: pointer;
}
button, input, select, textarea {
    font: inherit;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    border: 0 solid;
}
user agent stylesheet
button {
    appearance: auto; 
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
img, picture {
    display: block;
    max-width: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-neutralWhite {
    --tw-text-opacity: 1;
    color: hsl(0 0% 100% / var(--tw-text-opacity));
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.py-\[0\.125rem\] {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
.px-3 {
    padding-left: clamp(.75rem, .6917rem + .2913vi, .9375rem);
    padding-right: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.bg-primaryBlue {
    --tw-bg-opacity: 1;
    background-color: hsl(227 45% 44% / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.px-3 {
    padding-left: .9375rem;
    padding-right: .9375rem;
}
.text-sm {
    font-size: .95rem;
}
a, button {
    cursor: pointer;
}
button, input, select, textarea {
    font: inherit;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.text-neutralDarkGrey {
    --tw-text-opacity: 1;
    color: hsl(0 0% 45% / var(--tw-text-opacity));
}
.bg-neutralLightGrey {
    --tw-bg-opacity: 1;
    background-color: hsl(185 17% 88% / var(--tw-bg-opacity));
}
@media (min-width: 48rem) {
    .tablet\:grid-rows-2 {
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 48rem) {
    .tablet\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid {
    display: grid
;
}
.gap-5 {
    gap: 1.875rem;
}
@media (min-width: 48rem) {
    .tablet\:row-span-2 {
        grid-row: span 2 / span 2;
    }
}
.p-5 {
    padding: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-2xl {
    border-radius: 1rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.isolate {
    isolation: isolate;
}
.relative {
    position: relative;
}
.p-5 {
    padding: 1.875rem;
}
.gap-4 {
    gap: 1.25rem;
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: clamp(1.728rem, 1.6609rem + .3355vi, 1.944rem);
    }
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: 1.944rem;
    }
}
.text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
.text-xl {
    font-size: 1.62rem;
}
h1, h2, h3, h4, input, label {
    line-height: 1.1;
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin-block-end: 0;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.overflow-x-auto {
    overflow-x: auto;
}
.gap-3 {
    gap: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-3 {
    gap: .9375rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.pl-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.list-disc {
    list-style-type: disc;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
code {
    font-family: monospace;
}
.p-5 {
    padding: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-2xl {
    border-radius: 1rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.isolate {
    isolation: isolate;
}
.relative {
    position: relative;
}
.p-5 {
    padding: 1.875rem;
}
.gap-4 {
    gap: 1.25rem;
}
div {
    display: block;
    unicode-bidi: isolate;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: clamp(1.728rem, 1.6609rem + .3355vi, 1.944rem);
    }
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: 1.944rem;
    }
}
.text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
.text-xl {
    font-size: 1.62rem;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-primaryRed {
    --tw-text-opacity: 1;
    color: hsl(351 84% 55% / var(--tw-text-opacity));
}
.fas, .fa-solid {
    font-weight: 900;
}
.fas, .far, .fal, .fat, .fa-solid, .fa-regular, .fa-light, .fa-thin, .fa-classic {
    font-family: "Font Awesome 6 Pro";
}
.fa-solid, .fa-regular, .fa-brands, .fas, .far, .fab, .fal, .fat, .fad, .fass, .fasr, .fasl, .fast, .fasds, .fa-light, .fa-thin, .fa-duotone, .fa-sharp, .fa-sharp-duotone, .fa-sharp-solid, .fa-classic, .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-variant: normal;
    text-rendering: auto;
    font-style: normal;
    line-height: 1;
}
.underline {
    text-decoration-line: underline;
}
.font-semibold {
    font-weight: 600;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.text-primaryGreen {
    --tw-text-opacity: 1;
    color: hsl(162 100% 43% / var(--tw-text-opacity));
}
.fas, .fa-solid {
    font-weight: 900;
}
.fas, .far, .fal, .fat, .fa-solid, .fa-regular, .fa-light, .fa-thin, .fa-classic {
    font-family: "Font Awesome 6 Pro";
}
.fa-solid, .fa-regular, .fa-brands, .fas, .far, .fab, .fal, .fat, .fad, .fass, .fasr, .fasl, .fast, .fasds, .fa-light, .fa-thin, .fa-duotone, .fa-sharp, .fa-sharp-duotone, .fa-sharp-solid, .fa-classic, .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-variant: normal;
    text-rendering: auto;
    font-style: normal;
    line-height: 1;
}
.p-5 {
    padding: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-2xl {
    border-radius: 1rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.isolate {
    isolation: isolate;
}
.relative {
    position: relative;
}
.p-5 {
    padding: 1.875rem;
}
.gap-4 {
    gap: 1.25rem;
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: clamp(1.728rem, 1.6609rem + .3355vi, 1.944rem);
    }
}
@media (min-width: 48rem) {
    .tablet\:text-2xl {
        font-size: 1.944rem;
    }
}
.text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
.text-xl {
    font-size: 1.62rem;
}
.overflow-x-auto {
    overflow-x: auto;
}
.gap-3 {
    gap: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-3 {
    gap: .9375rem;
}
.pl-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.list-decimal {
    list-style-type: decimal;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-sm {
    max-width: 40.625rem;
    margin: 0 auto;
    width: 100%;
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-5 {
    gap: 1.875rem;
}
.tracking-widest {
    letter-spacing: .1em;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.font-primary {
    font-family: var(--font-heebo);
}
.text-center {
    text-align: center;
}
.gap-3 {
    gap: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-3 {
    gap: .9375rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-lg {
    border-radius: .5rem;
}
.list-none {
    list-style-type: none;
}
.cursor-pointer {
    cursor: pointer;
}
summary {
    display: list-item;
}
.text-neutralDarkGrey {
    --tw-text-opacity: 1;
    color: hsl(0 0% 45% / var(--tw-text-opacity));
}
.py-4 {
    padding-top: clamp(1rem, .9223rem + .3883vi, 1.25rem);
    padding-bottom: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border-t {
    border-top-width: 1px;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.pb-4, .py-4 {
    padding-bottom: 1.25rem;
}
.py-4 {
    padding-top: 1.25rem;
}
.overflow-x-auto {
    overflow-x: auto;
}
.gap-3 {
    gap: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-3 {
    gap: .9375rem;
}
.\[background-position\:top_10\%_right_-4rem\] {
    background-position: top 10% right -4rem;
}
.\[background-image\:url\(\'\/static\/images\/bg-discord\.svg\'\)\] {
    background-image: url(/static/images/bg-discord.svg);
}
.container-xl {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}
.text-neutralWhite {
    --tw-text-opacity: 1;
    color: hsl(0 0% 100% / var(--tw-text-opacity));
}
.text-center {
    text-align: center;
}
.py-8 {
    padding-top: clamp(4rem, 3.6893rem + 1.5534vi, 5rem);
    padding-bottom: clamp(4rem, 3.6893rem + 1.5534vi, 5rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-primaryBlue {
    --tw-bg-opacity: 1;
    background-color: hsl(227 45% 44% / var(--tw-bg-opacity));
}
.rounded-xl {
    border-radius: .75rem;
}
.gap-6 {
    gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.pb-8, .py-8 {
    padding-bottom: 5rem;
}
.py-8 {
    padding-top: 5rem;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.gap-6 {
    gap: 2.5rem;
}
img, picture {
    display: block;
    max-width: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.tracking-widest {
    letter-spacing: .1em;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.font-primary {
    font-family: var(--font-heebo);
}
text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.max-w-prose {
    max-width: 65ch;
}
.text-xl {
    font-size: 1.62rem;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-primaryBlue {
    --tw-text-opacity: 1;
    color: hsl(227 45% 44% / var(--tw-text-opacity));
}
.tracking-wider {
    letter-spacing: .05em;
}
.leading-none {
    line-height: 1;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-base {
    font-size: clamp(1rem, .9612rem + .1942vi, 1.125rem);
}
.font-secondary {
    font-family: var(--font-barlow);
}
.text-center {
    text-align: center;
}
.py-3 {
    padding-top: clamp(.75rem, .6917rem + .2913vi, .9375rem);
    padding-bottom: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.border-neutralWhite {
    --tw-border-opacity: 1;
    border-color: hsl(0 0% 100% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}
.flex {
    display: flex
;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.pb-3, .py-3 {
    padding-bottom: .9375rem;
}
.py-3 {
    padding-top: .9375rem;
}
.text-base {
    font-size: 1.125rem;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.pt-7 {
    padding-top: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.gap-7 {
    gap: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.pt-7 {
    padding-top: 3.75rem;
}
.gap-7 {
    gap: 3.75rem;
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
@media (min-width: 31.25rem) {
    .mobile\:justify-between {
        justify-content: space-between;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:flex-row {
        flex-direction: row;
    }
}
.container-full {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
}
.gap-6 {
    gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-6 {
    gap: 2.5rem;
}
a:not([class]) {
    color: currentColor;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img, picture {
    display: block;
    max-width: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.text-primaryCyan {
    --tw-text-opacity: 1;
    color: hsl(189 50% 61% / var(--tw-text-opacity));
}
.text-xl {
    font-size: clamp(1.44rem, 1.3841rem + .2796vi, 1.62rem);
}
.gap-5 {
    gap: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.gap-5 {
    gap: 1.875rem;
}
.text-xl {
    font-size: 1.62rem;
}
a:not([class]) {
    color: currentColor;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}
a, button {
    cursor: pointer;
}
a {
    color: inherit;
}
.fab, .fa-brands {
    font-weight: 400;
}
.fab, .fa-brands {
    font-family: "Font Awesome 6 Brands";
}
.fa-solid, .fa-regular, .fa-brands, .fas, .far, .fab, .fal, .fat, .fad, .fass, .fasr, .fasl, .fast, .fasds, .fa-light, .fa-thin, .fa-duotone, .fa-sharp, .fa-sharp-duotone, .fa-sharp-solid, .fa-classic, .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-variant: normal;
    text-rendering: auto;
    font-style: normal;
    line-height: 1;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
@media (min-width: 48rem) {
    .tablet\:justify-between {
        justify-content: space-between;
    }
}
@media (min-width: 48rem) {
    .tablet\:flex-row {
        flex-direction: row;
    }
}
.container-full {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
}
.gap-7 {
    gap: clamp(3rem, 2.767rem + 1.165vi, 3.75rem);
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-7 {
    gap: 3.75rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.max-w-\[28rem\] {
    max-width: 28rem;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
@media (min-width: 31.25rem) {
    .mobile\:items-start {
        align-items: flex-start;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:flex-row {
        flex-direction: row;
    }
}
.text-neutralBlack {
    --tw-text-opacity: 1;
    color: hsl(200 10% 12% / var(--tw-text-opacity));
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
@media (min-width: 31.25rem) {
    .mobile\:items-start {
        align-items: flex-start;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:flex-row {
        flex-direction: row;
    }
}
.text-neutralBlack {
    --tw-text-opacity: 1;
    color: hsl(200 10% 12% / var(--tw-text-opacity));
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
.gap-1 {
    gap: clamp(.25rem, .2306rem + .0971vi, .3125rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-1 {
    gap: .3125rem;
}
.p-2 {
    padding: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.bg-transparent {
    background-color: transparent;
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded {
    border-radius: .25rem;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
.p-2 {
    padding: .625rem;
}
h1, h2, h3, h4, input, label {
    line-height: 1.1;
}
button, input, select, textarea {
    font: inherit;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.gap-2 {
    gap: clamp(.5rem, .4612rem + .1942vi, .625rem);
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex
;
}
.gap-2 {
    gap: .625rem;
}
@media (min-width: 64rem) {
    .desktop\:max-w-\[50rem\] {
        max-width: 50rem;
    }
}
@media (min-width: 48rem) {
    .tablet\:justify-between {
        justify-content: space-between;
    }
}
@media (min-width: 48rem) {
    .tablet\:flex-row {
        flex-direction: row;
    }
}
@media (min-width: 48rem) {
    .tablet\:flex-grow {
        flex-grow: 1;
    }
}
@media (min-width: 48rem) {
    .tablet\:flex {
        display: flex
;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:gap-6 {
        gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
    }
}
@media (min-width: 31.25rem) {
    .mobile\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 31.25rem) {
    .mobile\:grid {
        display: grid
;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:gap-6 {
        gap: 2.5rem;
    }
}
.gap-6 {
    gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-6 {
    gap: 2.5rem;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.tracking-widest {
    letter-spacing: .1em;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.font-primary {
    font-family: var(--font-heebo);
}
.gap-1 {
    gap: clamp(.25rem, .2306rem + .0971vi, .3125rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-1 {
    gap: .3125rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex
;
}
.gap-4 {
    gap: 1.25rem;
}
.py-4 {
    padding-top: clamp(1rem, .9223rem + .3883vi, 1.25rem);
    padding-bottom: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.px-5 {
    padding-left: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
    padding-right: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border-t {
    border-top-width: 1px;
}
.px-5 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.pb-4, .py-4 {
    padding-bottom: 1.25rem;
}
.py-4 {
    padding-top: 1.25rem;
}
@media (min-width: 31.25rem) {
    .mobile\:justify-between {
        justify-content: space-between;
    }
}
@media (min-width: 31.25rem) {
    .mobile\:flex-row {
        flex-direction: row;
    }
}
.container-full {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 100%;
}
.text-neutralDarkGrey {
    --tw-text-opacity: 1;
    color: hsl(0 0% 45% / var(--tw-text-opacity));
}
.text-sm {
    font-size: clamp(.8854rem, .867rem + .0923vw, .95rem);
}
.gap-y-3 {
    row-gap: clamp(.75rem, .6917rem + .2913vi, .9375rem);
}
.gap-x-6 {
    -moz-column-gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
    column-gap: clamp(2rem, 1.8447rem + .7767vi, 2.5rem);
}
.flex-wrap {
    flex-wrap: wrap;
}
.aria-hidden\:hidden[aria-hidden=true] {
    display: none;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.z-40 {
    z-index: 40;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.fixed {
    position: fixed;
}
.bg-\[hsla\(0\2c 100\%\2c 0\%\2c 0\.8\)\] {
    background-color: rgba(0, 0, 0, .8);
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.absolute {
    position: absolute;
}
.w-full {
    width: 100%;
}
.overflow-auto {
    overflow: auto;
}
.text-center {
    text-align: center;
}
.p-5 {
    padding: clamp(1.5rem, 1.3835rem + .5825vi, 1.875rem);
}
.bg-neutralOffWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 98% / var(--tw-bg-opacity));
}
.border-neutralLightGrey {
    --tw-border-opacity: 1;
    border-color: hsl(185 17% 88% / var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-2xl {
    border-radius: 1rem;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.gap-4 {
    gap: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.max-w-\[theme\(containerWidth\.sm\)\] {
    max-width: 40.625rem;
}
.bg-neutralWhite {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-\[3\.25rem\] {
    width: 3.25rem;
}
.h-\[3\.25rem\] {
    height: 3.25rem;
}
.flex {
    display: flex
;
}
.top-4 {
    top: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.right-4 {
    right: clamp(1rem, .9223rem + .3883vi, 1.25rem);
}
.bg-\[hsla\(0\2c 100\%\2c 0\%\2c 0\.8\)\] {
    background-color: rgba(0, 0, 0, .8);
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.absolute {
    position: absolute;
}
